#particles-js {
	background-color: #bfbfbf;
	height: 600px;
	width: 100%;
	position: relative;
	margin-top: -10px;
}

*, html {
   margin: 0;
   padding: 0;
		

}
*, body {
	font-family: 'Poppins', sans-serif;
}

#text{
	
	position: absolute;
	top: 30%;
	width: 100%;
	
	max-width: 700px;
	left:0;
	right:0;
	margin:0 auto;
	border: solid 2px red;
	
	
	background-color: darkgrey;
	overflow:hidden;
	text-align: center;
	box-shadow: 0px 5px 20px 5px black;
	background:black;
	color:red;

}


#test {
	clear: left;
	position: absolute;
	top:auto;

}

 .navbar {
  min-height: 100px;
	 border-bottom: solid red 2px;
	 background-color: black;
	 color:white;
	
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}


#logo_header{
	margin-top: 5px;
}
/* navbar style end */

/* hexagone style start */

.hexagon {
  position: relative;
  width: 170px; 
  height: 98.15px;
  background-color: #64C7CC;
  margin: 49.07px 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
  border-left: solid 3px #ff2434;
  border-right: solid 3px #ff2434;
	
	 margin-left: auto;
    margin-right: auto
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 120.21px;
  height: 120.21px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 21.8959px;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

.hexagon:before {
  top: -60.1041px;
  border-top: solid 4.2426px #ff2434;
  border-right: solid 4.2426px #ff2434;
}

.hexagon:after {
  bottom: -60.1041px;
  border-bottom: solid 4.2426px #ff2434;
  border-left: solid 4.2426px #ff2434;
}

/*cover up extra shadows*/
.hexagon span {
  display: block;
  position: absolute;
  top:1.7320508075688772px;
  left: 0;
  width:164px;
  height:94.6854px;
  z-index: 2;
  background: inherit;
}
/* hexagone style end */

#textheader{
	color: white;
	font-size: 35px;
	text-shadow: 4px 2px 3px rgba(249, 0, 0, 1);


}

#textheader:hover {
	color: black;
	 animation: bounce 2s ease infinite;
	
}

/* icon css */
.image-icon {

	position: absolute;
	top: -20px;
	left: 15px ;
}

.abs {
	width: 100%;
	height: 100%;
}

/* picture section */
hexagon1 {
  position: relative;
  width: 350px; 
  height: 202.07px;
  margin: 101.04px 0;
  background-image: url(images/adil2.jpg);
  background-size: auto 392.5982px;
  background-position: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  border-left: solid 5px #f90025;
  border-right: solid 5px #f90025;
}

.hexTop1,
.hexBottom1 {
  position: absolute;
  z-index: 1;
  width: 247.49px;
  height: 247.49px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 46.26px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

/*counter transform the bg image on the caps*/
.hexTop1:after,
.hexBottom1:after {
  content: "";
  position: absolute;
  width: 340.0000px;
  height: 196.29909152447277px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-98.1495px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-98.1495px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-98.1495px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop1 {
  top: -123.7437px;
  border-top: solid 7.0711px #f90025;
  border-right: solid 7.0711px #f90025;
}

.hexTop1:after {
  background-position: center top;
}

.hexBottom1 {
  bottom: -123.7437px;
  border-bottom: solid 7.0711px #f90025;
  border-left: solid 7.0711px #f90025;
}

.hexBottom1:after {
  background-position: center bottom;
}

.hexagon1:after {
  content: "";
  position: absolute;
  top: 2.8868px;
  left: 0;
  width: 340.0000px;
  height: 196.2991px;
  z-index: 2;
  background: inherit;
}
/* hexgaone pic end */

.btn_hire{
	background-color: black;
	border: 2px solid red;
}

.btn_hire:hover{
	color: red;
	background-color: black;
	border: 2px solid darkred;
}

.bar_container{
	border: 1px solid black;
	background-color: black;
	color: white;
	
}

/* skill bar style start */
p{
  color:#525252;
  font-size:12px;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-topleft:0px;
	-moz-border-radius-bottomleft:0px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-topleft:0px;
	-moz-border-radius-bottomleft:0px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}
/* skill bar style end */

#typed_text{
	background-color: white;
	border: 3px red solid;
	border-radius: 15px;
	color: black;
	margin-right: 8px;
	margin-left: 8px;
	font-family: 'Poppins', sans-serif;
	
}


.buttonstop:hover{
	border-left: 4px solid black;
	border-right: 4px solid black;
	background-color: white;
	height: 98px;
	
}

/* BOUNCE */
@keyframes bounce {
	0%,10%,20%,50%,80%,100%{transform:translateY(0)}
	40%{transform:translateY(-15px)}
	60%{transform:translateY(-15px)}
}

#search_icon{
	
}

#intro{
	color:  white;
	font-family: 'Eczar', serif;
	text-shadow: 4px 2px 3px rgba(249, 0, 0, 1);
	font-size: 70px;
	
}
#nav_top{
	color: white;
}


.fa_social {
 
  color: white;
	text-decoration: none;
	font-size: 50px;
	text-shadow: 2px 1px 2px rgba(249, 0, 0, 1);
	
	  
}
.fa_social:hover {
 
  color: red;
}

hr {
    margin-left: auto;
	margin-right: auto;
    width: 100%;
}

.navbar-default .navbar-nav>.active> a{
  background: white; 
	color:black;
	height: 98px;
	
}
.navbar-default .navbar-nav>.active> a:hover{
  background: white; 
	color:black;
	height: 90px;

	
}
.navbar-default .navbar-nav>.active> #textheader {
	color:black;
}

#imageadil{
	transition: transform .4s; 
}
#imageadil:hover {
    transform: scale(1.2); 
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}
